div(class='container-fluid')
    <!-- Alert Bootrstrap -->
    div(v-if='seen', class='alert alert-danger', role='alert', id='alert_name_mision')
        span ¡Debe introducir un nombre para la misión!


    <!-- Mapa de Google Maps-->
    div(v-if='seen', class='row row_map', id='div_google_maps')
        div(class='col')
            div(class='row d-flex flex-column h-100')
                input(id='pac-input', class='controls', type='text', placeholder='Buscar')
                div(id='map')


    <!-- Boton para configurar la mision-->
    div(v-if='seen', class='row row_btn', id='btnSetMission')
        div(class='col')
            button(class='btn btn-secondary btn-block', type='button', data-toggle='modal',
            data-target='#modalCenter') Configurar misión



    <!-- Añadir/borrar area a la mision y comenzar mision-->
    div(v-if='seen', class='row row_btn', id='btnArea')
        div(class='col')
            button(class='btn bg-secondary btn-block', type='button', v-on:click='add_area') Añadir área
        div(class='col')
            button(class='btn bg-secondary btn-block', type='button', v-on:click='remove_area') Eliminar área
        div(class='col')
            button(class='btn bg-success btn-block', type='button', v-on:click='start_mission') Comenzar misión


    <!-- Modal Bootstrap -->
    div(class='modal fade', id='modalCenter', tabindex='-1', role='dialog', aria-labelledby='modalCenterTitle',
    aria-hidden='true')
        div(class='modal-dialog modal-dialog-centered', role='document')
            div(class='modal-content')
                div(class='modal-header')
                    h5(class='modal-title', id='exampleModalLongTitle') Configuración de la misión
                    button(class='close', type='button', data-dismiss='modal', arial-label='Close')

                div(class='modal-body')
                    <!-- Formulario para establecer los parametros de la mision -->
                    form
                        div(class='form-group')
                            input(class='form-control', type='text', id='mission_name',
                            placeholder='Nombre de la misión', name='mission_name',
                            v-on:click='hide_alert_name_mision')

                        div(class='input-group mb-3')
                            div(class='input-group-prepend')
                                label(class='input-group-text', for='mission_type') Tipo de misión
                            select(class='custom-select', id='mission_type', name='mission_type')
                                option(value='0') Monitorización
                                option(value='1') Búsqueda de personas

                        div(class='input-group mb-3')
                            div(class='input-group-prepend')
                                label(class='input-group-text', for='altitude_fly') Altura de vuelo
                            select(class='custom-select', id='altitude_fly', name='altitude_fly')
                                option(value='1') 1 m.
                                option(value='2') 2 m.
                                option(value='3') 3 m.
                                option(value='4') 4 m.
                                option(value='5') 5 m.
                                option(value='6') 6 m.

                        div(class='input-group mb-3')
                            div(class='input-group-prepend')
                                label(class='input-group-text', for='number_drones') Número de drones
                            select(class='custom-select', id='number_drones', name='number_drones')
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                                option(value='4') 4

                        div(class='input-group mb-3')
                            div(class='input-group-prepend')
                                label(class='input-group-text', for='overlap') Solapamiento entre fotos
                            select(class='custom-select', id='overlap', name='overlap')
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                                option(value='4') 4

                        div(class='modal-footer')
                            button(class='btn btn-secondary', type='button', id='btnClose',
                            data-dismiss='modal', v-on:click='hide_alert_name_mision') Cerrar

                            button(class='btn btn-primary', type='button', id='btnContinue',
                            v-on:click='getData') Continuar


    <!-- Progress bar -->
    div(v-if='seen', class='progress', id='progress_bar')
        div(class='progress-bar progress-bar-striped progress-bar-animated', role='progressbar',
        aria-valuenow='75', aria-valuemin='0', aria-valuemax='100', style='width: 25%')