doctype html
html
    head
        title= 'HORUS'
        meta(charset='utf-8')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
        integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        link(rel='stylesheet', href='/stylesheets/dashboard.css')
    body
        nav(class='navbar navbar-expand-lg navbar-light bg-light')
            a(class='navbar-brand') HORUS
            button(class='navbar-toggler', type='button', data-toggle='collapse', data-target='#navbarSupportedContent',
            aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span(class='navbar-toggler-icon')
            div(class='collapse navbar-collapse', id='navbarSupportedContent')
                ul(class='navbar-nav mr-auto')
                    li(class='nav-item')
                        a(class='nav-link', href='#') Historial

        include configure_mission

        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js',
        integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js',
        integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js',
        integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js")
        script(src='/javascripts/dashboard.js')
        script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD70tPAmyyOvL1GnSQY8y3w8SU2CY8ZP9Q&libraries=places&callback=initAutocomplete')